@font-face{
  font-family:'Lato Thin';
  font-style:normal;
  font-weight:200;
  src:local('Lato Thin'),
    url(http://brick.a.ssl.fastly.net/fonts/lato/200.woff) format('woff')
}

@font-face{
  font-family:'Lato';
  font-style:normal;
  font-weight:300;
  src:local('Lato'),
    url(http://brick.a.ssl.fastly.net/fonts/lato/300.woff) format('woff')
}

@font-face{
  font-family:'Raleway';
  font-style:normal;
  font-weight:400;
  src:local('Raleway Regular'),
    url(http://brick.a.ssl.fastly.net/fonts/raleway/400.woff) format('woff')
}

@font-face{
  font-family:'Raleway Bold';
  font-style:normal;
  font-weight:700;
  src:local('Raleway Regular'),
    url(http://brick.a.ssl.fastly.net/fonts/raleway/400.woff) format('woff')
}

#FORTYNINE {
  font-family: 'Lato Thin';
}

#MAPS {
  font-family: 'Raleway Bold';
  font-weight: 700;
}

#topname {
  font-size: 60pt;
  padding-top: 0.5em;
  margin-bottom: -0.2em;
  text-align: center;
}

.bannerText {
  color: rgba(255,255,255,0.9);
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  -moz-transition-duration: 0.5s;
  -moz-transition-delay: 0.2s;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0.2s;
}

.slogan {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  margin-bottom: 1em;
  font-size: 16pt;
  text-align: center;
  padding-left: 0.2em;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18pt;
  color: rgba(220, 220, 220, 1);
  margin: 0;
  background-color: rgba(10,25,40,1);
}

h3 {
  color: rgba(220, 220, 220, 1);
  margin-bottom: 1em;
  font-size: 22pt;
}

.display {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  padding-top: 4em;
  padding-bottom: 4em;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%,  rgba(10, 25, 40, 1)),
    url(logo/banner-sat.jpg);
  background-size: 150%;
  background-position: center;
  background-attachment: fixed;
}

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.copy {
  padding-bottom: 2em;
}

.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 16pt;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: rgba(200, 220, 250, 1);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: rgba(240, 240, 240, 1);
  text-decoration: underline;
  transition: 0.1s;
}

@media screen and (min-width: 769px) {

  #topname {
    font-size: 96pt;
    padding-top: 0.2em;
  }

  .slogan {
    font-size: 18pt;
  }
}

@media screen and (min-width: 800px) {

  #topname {
    font-size: 110pt;
    text-align: center;
    padding-left: 0.0em;
    padding-top: 1em;
  }

  .slogan {
    font-size: 20pt;
    text-align: center;
    padding-left: 0.0em;
  }

  body {
    font-size: 16pt;
  }

  .display {
    height: 480px;
  }

  .container {
    width: 80%;
    min-width: 500px;
    max-width: 800px;
  }

  .copy {
    float: left;
    width: 80%;
  }

  .social {
    float: right;
    width: 16%;
  }
}

@media screen and (min-width: 1200px) {

  #topname {
    font-size: 220pt;
    text-align: center;
    padding-left: 0.0em;
    padding-top: 0.2em;
  }

}
