@font-face{
  font-family:'Lato';
  font-style:normal;
  font-weight:200;
  src:local('Lato Thin'),
    url(http://brick.a.ssl.fastly.net/fonts/lato/200.woff) format('woff')
}

@font-face{
  font-family:'Raleway';
  font-style:normal;
  font-weight:400;
  src:local('Raleway Regular'),
    url(http://brick.a.ssl.fastly.net/fonts/raleway/400.woff) format('woff')
}

@font-face{
  font-family:'Raleway Bold';
  font-style:normal;
  font-weight:700;
  src:local('Raleway Regular'),
    url(http://brick.a.ssl.fastly.net/fonts/raleway/400.woff) format('woff')
}

#FORTYNINE {
  font-family: 'Lato';
}

#MAPS {
  font-family: 'Raleway Bold';
  font-weight: 700;
}

#topname {
  font-size: 50pt;
  color: rgba(255,255,255,0.7);
  padding-left: 0.2em;
  padding-top: 0.5em;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14pt;
  color: rgba(180, 180, 180, 1);
  margin: 0;
  background-color: rgba(10,25,40,1);
}

.display {
  width: 100%;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  padding-bottom: 1em;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%,  rgba(10, 25, 40, 1)),
    url(logo/banner.svg);
  background-size: cover;
  background-position: center;

}

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.slogan {
  font-style: italic;
  color: rgba(220, 220, 220, 1);
  margin-bottom: 1em;
  font-size: 16pt;
}

.copy {
  padding-bottom: 2em;
}

.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 12pt;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: rgba(180, 180, 180, 1);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: rgba(240, 240, 240, 1);
  text-decoration: underline;
  transition: 0.1s;
}

@media screen and (min-width: 600px) {

  #topname {
    font-size: 110pt;
    text-align: center;
    padding-left: 0.0em;
    padding-top: 1em;
  }
  
  body {
    font-size: 16pt;
  }

  .display {
    height: 480px;
  }
  
  .container {
    width: 80%;
    min-width: 500px;
    max-width: 800px;
  }
  
  .copy {
    float: left;
    width: 80%;
  }
  
  .social {
    float: right;
    width: 16%;
  }

  .slogan {
    font-size: 20pt;
  }
}

@media screen and (min-width: 1200px) {
  
  #topname {
    font-size: 220pt;
    text-align: center;
    padding-left: 0.0em;
    padding-top: 0.2em;
  }
  
}
